
.loader {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.svg-calLoader {
    width: 330px; height: 330px;
   transform-origin: 115px 115px;
   animation: 1.4s linear infinite loader-spin;
 }
 

 
 @keyframes loader-spin {
   to{
     transform: rotate(360deg);
   }
 }
 @keyframes loader-path {
   0%{
     stroke-dasharray:  0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
   50%{
     stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
   }
   100%{
     stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
 }